<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auditSnapshotNameSpace">
  <resultMap id="auditSnapshotMap" type="com.cong.swag.common.VO.AuditSnapshotVO">
    <result property="id" column="id"/>
    <result property="auditType" column="audit_type"/>
    <result property="idRef" column="id_ref"/>
    <result property="operatorId" column="operator_id"/>
    <result property="operatorName" column="operator_name"/>
    <result property="operationName" column="operation_name"/>
    <result property="operation" column="operation"/>
    <result property="shopCode" column="shop_code"/>
    <result property="remark" column="remark"/>
    <result property="operateDate" column="operate_date"/>
    <result property="auditTypeId" column="audit_type_id"/>
    <result property="auditConfigId" column="audit_config_id"/>
    <result property="auditInfoId" column="audit_info_id"/>
    <result property="timeFlag" column="time_flag"/>
    <result property="sequenceNumber" column="sequence_number"/>
    <result property="operationType" column="operation_type"/>
  </resultMap>
  
  <resultMap id="auditInfoMap" type="com.cong.swag.common.VO.AuditInfoVO">
    <result property="id" column="id" />
    <result property="auditType" column="audit_type" />
    <result property="idRef" column="id_ref" />
    <result property="shopCode" column="shop_code" />
    <result property="model" column="model" />
    <result property="sequenceNumber" column="sequence_number" />
    <result property="applicantId" column="applicant_id" />
    <result property="applicantName" column="applicant_name" />
    <result property="auditStatus" column="audit_status" />
    <result property="link" column="link" />
    <result property="createDate" column="create_date" />
    <result property="updateDate" column="update_date" />
    <result property="auditTypeId" column="audit_type_id" />
    <result property="auditConfigId" column="audit_config_id" />
    <result property="refStatusDesc" column="ref_status_desc" />
    <result property="env" column="env" />
  </resultMap>

  <insert id="insertSnapshot">
    insert into audit_snapshot(id, audit_type, id_ref, operator_id, operator_name, operation_name, operation, shop_code,
    remark, operate_date, audit_type_id, audit_config_id, audit_info_id, time_flag, sequence_number, operation_type) values
    (#{id}, #{auditType}, #{idRef}, #{operatorId}, #{operatorName}, #{operationName}, #{operation}, #{shopCode}, #{remark},
    #{operateDate}, #{auditTypeId},#{auditConfigId},#{auditInfoId},#{timeFlag},#{sequenceNumber},#{operationType})
  </insert>

  <select id="getByAuditType" resultMap="auditSnapshotMap" parameterType="java.lang.String">
    select * from audit_snapshot where audit_type=#{auditType}
  </select>

  <select id="getByOperation" resultMap="auditSnapshotMap" parameterType="java.lang.String">
    select * from audit_snapshot where operation=#{operation}
  </select>

  <select id="listAuditSnapshot" resultMap="auditSnapshotMap">
    select * from audit_snapshot where id_ref=#{idRef} and audit_type=#{auditType} order by operate_date desc
  </select>

  <select id="listAuditUserOperate" resultMap="auditSnapshotMap">
    select * from audit_snapshot where operator_id=#{operatorId} and operation in('agree','disagree')
  </select>

  <select id="getSelfFishedAuditInfoList" resultMap="auditInfoMap">
    select t1.* from audit_info t1 inner join audit_snapshot t2 on t1.id_ref=t2.id_ref and t1.audit_type=t2.audit_type
    where t2.operation!='start' and t2.operator_id=#{operatorId}
    <if test="auditTypes != null and auditTypes.size != 0">
      and t2.audit_type in
      <foreach collection="auditTypes" item="auditTypeItem" index="index" open="(" separator="," close=")">
        #{auditTypeItem}
      </foreach>
    </if>
    order by t1.create_date desc
  </select>
</mapper>